{% extends "layout.html" %}
{% set pageId = "page-create-point" %}

{% block title %}
  <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="./css/create-point.css"/>
{% endblock styles %}

{% block content %}
  {% include "partials/page-header.html" %}
  <form class="form" action="">
    <h1>Cadastro do ponto de coleta</h1>
    <fieldset>
      <legend>
        <h2>Dados da coleta</h2>
      </legend>

      <div class="field-group">
        <div class="field">
          <label for="name">Nome da entidade:</label>
          <input type="text" name="name" required="required"/>
        </div>
        <div class="field">
          <label for="name">Imgem da entidade:</label>
          <input type="url" name="image" required="required" placeholder = "http://"/>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="address">Endereço:</label>
          <input type="text" name="address" required="required"/>
        </div>
        <div class="field">
          <label for="address2">Numero/Complemento:</label>
          <input type="text" name="address2" required="required"/>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="state">Estado:</label>
          <select name="UF" required="required">
            <option value="">Selecione o Estado
            </option>
          </select>
          <input type="hidden" name="state" required="required"/>
        </div>
        <div class="field">
          <label for="city">Cidade:</label>
          <select name="city" disabled="disabled" required="required">
            <option value="">Selecione a Cidade</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <h2>Ítens de coleta</h2>
        <span>Selecione um ou mais dos itens abaixo</span>
      </legend>

      <div class="items-grid">
        <li data-id="1">
          <img src="assets/lampadas.svg" alt="Lâmpadas"/>
          <span>Lâmpadas</span>
        </li>
        <li data-id="2">
          <img src="assets/baterias.svg" alt="Lâmpadas"/>
          <span>Pilhas e Baterias</span>
        </li>
        <li data-id="3">
          <img src="assets/papeis-papelao.svg" alt="Lâmpadas"/>
          <span>Papéis e Papelão</span>
        </li>
        <li data-id="4">
          <img src="assets/eletronicos.svg" alt="Lâmpadas"/>
          <span>Resíduos Eletrônicos</span>
        </li>
        <li data-id="5">
          <img src="assets/organicos.svg" alt="Lâmpadas"/>
          <span>Resíduos Orgânicos</span>
        </li>
        <li data-id="6">
          <img src="assets/oleo.svg" alt="Lâmpadas"/>
          <span>Óleo de cozinha</span>
        </li>
      </div>
      <input type="hidden" name="items">
    </fieldset>

    <button type="submit">Cadastrar ponto de coleta</button>
  </form>

{% endblock content %}

{% block scripts %}
  <script src="./script/create-point.js"></script>
{% endblock scripts %}